*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  min-height: 100%;
  height: 100%;
}

html {
  font-size: 1rem;
  color: var(--color-delta) var(--color-zeta);
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  overflow-y: scroll;
  color: var(--color-delta);
}

a,
a:link,
a:visited,
a:active,
a:hover {
  color: var(--color-beta);
  text-decoration: none;
}

a:disabled {
  color: #c3c3c3;
}

input,
button {
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-delta);
  color: var(--color-delta) white;
  font-size: 0.85rem;
}

.row {
  display: flex;
}

.col {
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: 0;
}
