:root {
  --color-alpha: rgba(72, 65, 76, 1);
  --color-beta: rgba(182, 151, 160, 1);
  --color-gamma: rgba(147, 144, 156, 1);
  --color-delta: rgba(75, 67, 64, 1);
  --color-zeta: rgba(232, 228, 226, 1);
  --color-positive: rgba(72, 166, 72, 1);
  --color-negative: rgba(255, 0, 0, 1);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  min-height: 100%;
  height: 100%;
}

html {
  font-size: 1rem;
  color: var(--color-delta) var(--color-zeta);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  overflow-y: scroll;
  color: var(--color-delta);
}

a,
a:link,
a:visited,
a:active,
a:hover {
  color: var(--color-beta);
  text-decoration: none;
}

a:disabled {
  color: #c3c3c3;
}

button {
  color: var(--color-delta);
}

.row {
  display: flex;
}

.col {
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: 0;
}
